<!--@subject Your Shopping Cart PO Approval Request has been Submitted @-->
<!--@vars
{"var customer_name":"Customer Name","var reservation_days":"Reservation Days","var cart_view_url":"Cart View URL"}
@-->
<p>Hello {{var customer_name}},</p>
<p>Thank you for submitting your cart details. Once the approver reviews and approves the request, you will receive an email notification prompting you to proceed with the checkout process. In case of rejection, the reason for the same will be clearly mentioned in the email.</p>


